.testimonials-page {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.testimonials-page .div {
  background-color: #ffffff;
  overflow-x: hidden;
  width: 1512px;
  height: 9474px;
  position: relative;
}

.testimonials-page .footer {
  position: absolute;
  width: 1516px;
  height: 656px;
  top: 8818px;
  left: 0;
  background-color: transparent;
}

.testimonials-page .overlap {
  position: relative;
  width: 1512px;
  height: 656px;
  background-color: #353535;
}

.testimonials-page .overlap-group {
  position: absolute;
  width: 1512px;
  height: 302px;
  top: 354px;
  left: 0;
  background-color: #232323;
}

.testimonials-page .mobile-app-icons {
  position: absolute;
  width: 513px;
  height: 71px;
  top: 110px;
  left: 483px;
}

.testimonials-page .appstore {
  position: absolute;
  width: 240px;
  height: 71px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.testimonials-page .googleplay {
  position: absolute;
  width: 240px;
  height: 71px;
  top: 0;
  left: 273px;
  object-fit: cover;
}

.testimonials-page .social-media-icons {
  position: absolute;
  width: 127px;
  height: 58px;
  top: 214px;
  left: 1334px;
}

.testimonials-page .twitter {
  position: absolute;
  width: 52px;
  height: 52px;
  top: 3px;
  left: 0;
  object-fit: cover;
}

.testimonials-page .facebook {
  position: absolute;
  width: 58px;
  height: 58px;
  top: 0;
  left: 69px;
  object-fit: cover;
}

.testimonials-page .copyright-text {
  position: absolute;
  width: 431px;
  top: 224px;
  left: 532px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.testimonials-page .footer-text {
  position: absolute;
  width: 1071px;
  top: 36px;
  left: 222px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.testimonials-page .contacts {
  position: absolute;
  width: 377px;
  height: 247px;
  top: 51px;
  left: 1080px;
}

.testimonials-page .overlap-group-2 {
  position: absolute;
  width: 371px;
  height: 206px;
  top: 41px;
  left: 0;
  background-color: #1e1e1e;
  border-radius: 10px;
}

.testimonials-page .chat-icon {
  position: absolute;
  width: 35px;
  height: 35px;
  top: 113px;
  left: 54px;
  object-fit: cover;
}

.testimonials-page .phone-icon {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 58px;
  left: 56px;
  object-fit: cover;
}

.testimonials-page .text-wrapper {
  position: absolute;
  width: 135px;
  top: 61px;
  left: 99px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.testimonials-page .text-wrapper-2 {
  position: absolute;
  width: 216px;
  top: 119px;
  left: 101px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.testimonials-page .text-wrapper-3 {
  position: absolute;
  width: 119px;
  top: 0;
  left: 122px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.testimonials-page .map {
  position: absolute;
  width: 414px;
  height: 247px;
  top: 51px;
  left: 545px;
}

.testimonials-page .img {
  position: absolute;
  width: 412px;
  height: 206px;
  top: 41px;
  left: 0;
  object-fit: cover;
}

.testimonials-page .p {
  position: absolute;
  width: 299px;
  top: 0;
  left: 57px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.testimonials-page .usa-today {
  position: absolute;
  width: 362px;
  height: 247px;
  top: 51px;
  left: 62px;
}

.testimonials-page .usa-today-2 {
  position: absolute;
  width: 360px;
  height: 206px;
  top: 41px;
  left: 0;
  object-fit: cover;
}

.testimonials-page .text-wrapper-4 {
  position: absolute;
  width: 354px;
  top: 0;
  left: 3px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.testimonials-page .overlap-2 {
  position: absolute;
  width: 1411px;
  height: 8626px;
  top: 160px;
  left: 52px;
}

.testimonials-page .testimonials {
  display: flex;
  flex-direction: column;
  width: 957px;
  height: 8538px;
  align-items: flex-start;
  gap: 50px;
  padding: 25px 50px;
  position: absolute;
  top: 88px;
  left: 220px;
}

.testimonials-page .testimonial {
  display: flex;
  width: 853px;
  align-items: flex-start;
  gap: 40px;
  position: relative;
  flex: 0 0 auto;
}

.testimonials-page .logo {
  position: relative;
  width: 150px;
  height: 150px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 5px solid;
  border-color: #000000;
}

.testimonials-page .logo-img {
  position: absolute;
  width: 132px;
  height: 133px;
  top: 3px;
  left: 4px;
}

.testimonials-page .review {
  position: relative;
  width: 667px;
  height: 150px;
  margin-right: -4px;
}

.testimonials-page .overlap-group-3 {
  position: relative;
  width: 663px;
  height: 150px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 5px solid;
  border-color: #000000;
}

.testimonials-page .text-wrapper-5 {
  position: absolute;
  top: 105px;
  left: 338px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  text-align: right;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.testimonials-page .simply-put-imleagues {
  position: absolute;
  width: 620px;
  top: 15px;
  left: 17px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.testimonials-page .testimonial-2 {
  display: flex;
  width: 853px;
  align-items: center;
  gap: 40px;
  position: relative;
  flex: 0 0 auto;
}

.testimonials-page .logo-img-2 {
  position: absolute;
  width: 115px;
  height: 117px;
  top: 12px;
  left: 12px;
}

.testimonials-page .overlap-group-wrapper {
  height: 186.48px;
  position: relative;
  width: 667px;
  margin-right: -4px;
}

.testimonials-page .overlap-group-4 {
  position: relative;
  width: 663px;
  height: 186px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 5px solid;
  border-color: #000000;
}

.testimonials-page .text-wrapper-6 {
  position: absolute;
  width: 299px;
  top: 145px;
  left: 338px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  text-align: right;
  letter-spacing: 0;
  line-height: normal;
}

.testimonials-page .text-wrapper-7 {
  position: absolute;
  width: 620px;
  top: 20px;
  left: 17px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.testimonials-page .div-wrapper {
  height: 164px;
  position: relative;
  width: 667px;
  margin-right: -4px;
}

.testimonials-page .overlap-group-5 {
  position: relative;
  width: 663px;
  height: 164px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 5px solid;
  border-color: #000000;
}

.testimonials-page .text-wrapper-8 {
  position: absolute;
  width: 425px;
  top: 126px;
  left: 212px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  text-align: right;
  letter-spacing: 0;
  line-height: normal;
}

.testimonials-page .text-wrapper-9 {
  position: absolute;
  width: 620px;
  top: 17px;
  left: 17px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.testimonials-page .logo-img-3 {
  position: absolute;
  width: 132px;
  height: 130px;
  top: 5px;
  left: 4px;
}

.testimonials-page .review-2 {
  height: 232.78px;
  position: relative;
  width: 667px;
  margin-right: -4px;
}

.testimonials-page .overlap-group-6 {
  position: relative;
  width: 663px;
  height: 233px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 5px solid;
  border-color: #000000;
}

.testimonials-page .text-wrapper-10 {
  position: absolute;
  width: 425px;
  top: 187px;
  left: 212px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  text-align: right;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.testimonials-page .text-wrapper-11 {
  position: absolute;
  width: 620px;
  top: 26px;
  left: 17px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.testimonials-page .review-3 {
  height: 177.74px;
  position: relative;
  width: 667px;
  margin-right: -4px;
}

.testimonials-page .overlap-group-7 {
  position: relative;
  width: 663px;
  height: 178px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 5px solid;
  border-color: #000000;
}

.testimonials-page .text-wrapper-12 {
  position: absolute;
  width: 319px;
  top: 136px;
  left: 318px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  text-align: right;
  letter-spacing: 0;
  line-height: normal;
}

.testimonials-page .text-wrapper-13 {
  position: absolute;
  width: 620px;
  top: 19px;
  left: 17px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.testimonials-page .review-4 {
  height: 291px;
  position: relative;
  width: 667px;
  margin-right: -4px;
}

.testimonials-page .overlap-group-8 {
  position: relative;
  width: 663px;
  height: 291px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 5px solid;
  border-color: #000000;
}

.testimonials-page .text-wrapper-14 {
  position: absolute;
  width: 319px;
  top: 246px;
  left: 318px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  text-align: right;
  letter-spacing: 0;
  line-height: normal;
}

.testimonials-page .text-wrapper-15 {
  top: 16px;
  position: absolute;
  width: 620px;
  left: 17px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.testimonials-page .review-5 {
  height: 220px;
  position: relative;
  width: 667px;
  margin-right: -4px;
}

.testimonials-page .overlap-group-9 {
  position: relative;
  width: 663px;
  height: 220px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 5px solid;
  border-color: #000000;
}

.testimonials-page .text-wrapper-16 {
  position: absolute;
  width: 319px;
  top: 176px;
  left: 318px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  text-align: right;
  letter-spacing: 0;
  line-height: normal;
}

.testimonials-page .logo-img-4 {
  position: absolute;
  width: 115px;
  height: 117px;
  top: 12px;
  left: 12px;
  object-fit: cover;
}

.testimonials-page .review-6 {
  height: 236px;
  position: relative;
  width: 667px;
  margin-right: -4px;
}

.testimonials-page .overlap-group-10 {
  position: relative;
  width: 663px;
  height: 236px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 5px solid;
  border-color: #000000;
}

.testimonials-page .text-wrapper-17 {
  position: absolute;
  width: 364px;
  top: 193px;
  left: 273px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  text-align: right;
  letter-spacing: 0;
  line-height: normal;
}

.testimonials-page .text-wrapper-18 {
  position: absolute;
  width: 620px;
  top: 18px;
  left: 17px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.testimonials-page .text-wrapper-19 {
  position: absolute;
  width: 402px;
  top: 135px;
  left: 235px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  text-align: right;
  letter-spacing: 0;
  line-height: normal;
}

.testimonials-page .review-7 {
  height: 313px;
  position: relative;
  width: 667px;
  margin-right: -4px;
}

.testimonials-page .overlap-group-11 {
  position: relative;
  width: 663px;
  height: 313px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 5px solid;
  border-color: #000000;
}

.testimonials-page .text-wrapper-20 {
  position: absolute;
  width: 402px;
  top: 268px;
  left: 235px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  text-align: right;
  letter-spacing: 0;
  line-height: normal;
}

.testimonials-page .text-wrapper-21 {
  position: absolute;
  width: 364px;
  top: 104px;
  left: 273px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  text-align: right;
  letter-spacing: 0;
  line-height: normal;
}

.testimonials-page .review-8 {
  height: 119px;
  position: relative;
  width: 667px;
  margin-right: -4px;
}

.testimonials-page .overlap-group-12 {
  position: relative;
  width: 663px;
  height: 119px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 5px solid;
  border-color: #000000;
}

.testimonials-page .text-wrapper-22 {
  position: absolute;
  width: 364px;
  top: 70px;
  left: 273px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  text-align: right;
  letter-spacing: 0;
  line-height: normal;
}

.testimonials-page .review-9 {
  height: 343px;
  position: relative;
  width: 667px;
  margin-right: -4px;
}

.testimonials-page .overlap-group-13 {
  position: relative;
  width: 663px;
  height: 343px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 5px solid;
  border-color: #000000;
}

.testimonials-page .text-wrapper-23 {
  position: absolute;
  width: 401px;
  top: 299px;
  left: 236px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  text-align: right;
  letter-spacing: 0;
  line-height: normal;
}

.testimonials-page .review-10 {
  height: 159px;
  position: relative;
  width: 667px;
  margin-right: -4px;
}

.testimonials-page .overlap-group-14 {
  position: relative;
  width: 663px;
  height: 159px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 5px solid;
  border-color: #000000;
}

.testimonials-page .text-wrapper-24 {
  position: absolute;
  width: 364px;
  top: 115px;
  left: 273px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  text-align: right;
  letter-spacing: 0;
  line-height: normal;
}

.testimonials-page .review-11 {
  height: 107px;
  position: relative;
  width: 667px;
  margin-right: -4px;
}

.testimonials-page .overlap-group-15 {
  position: relative;
  width: 663px;
  height: 107px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 5px solid;
  border-color: #000000;
}

.testimonials-page .text-wrapper-25 {
  position: absolute;
  width: 364px;
  top: 66px;
  left: 273px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  text-align: right;
  letter-spacing: 0;
  line-height: normal;
}

.testimonials-page .review-12 {
  height: 171px;
  position: relative;
  width: 667px;
  margin-right: -4px;
}

.testimonials-page .overlap-group-16 {
  position: relative;
  width: 663px;
  height: 171px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 5px solid;
  border-color: #000000;
}

.testimonials-page .text-wrapper-26 {
  position: absolute;
  width: 364px;
  top: 124px;
  left: 273px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  text-align: right;
  letter-spacing: 0;
  line-height: normal;
}

.testimonials-page .review-13 {
  height: 360px;
  position: relative;
  width: 667px;
  margin-right: -4px;
}

.testimonials-page .overlap-group-17 {
  position: relative;
  width: 663px;
  height: 360px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 5px solid;
  border-color: #000000;
}

.testimonials-page .text-wrapper-27 {
  position: absolute;
  width: 364px;
  top: 317px;
  left: 273px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  text-align: right;
  letter-spacing: 0;
  line-height: normal;
}

.testimonials-page .text-wrapper-28 {
  position: absolute;
  width: 364px;
  top: 180px;
  left: 273px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  text-align: right;
  letter-spacing: 0;
  line-height: normal;
}

.testimonials-page .logo-img-5 {
  position: absolute;
  width: 116px;
  height: 115px;
  top: 12px;
  left: 12px;
}

.testimonials-page .review-14 {
  height: 473px;
  position: relative;
  width: 667px;
  margin-right: -4px;
}

.testimonials-page .overlap-group-18 {
  position: relative;
  width: 663px;
  height: 473px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 5px solid;
  border-color: #000000;
}

.testimonials-page .text-wrapper-29 {
  position: absolute;
  width: 319px;
  top: 429px;
  left: 318px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  text-align: right;
  letter-spacing: 0;
  line-height: normal;
}

.testimonials-page .review-15 {
  height: 225px;
  position: relative;
  width: 667px;
  margin-right: -4px;
}

.testimonials-page .overlap-group-19 {
  position: relative;
  width: 663px;
  height: 225px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 5px solid;
  border-color: #000000;
}

.testimonials-page .text-wrapper-30 {
  position: absolute;
  width: 385px;
  top: 179px;
  left: 252px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  text-align: right;
  letter-spacing: 0;
  line-height: normal;
}

.testimonials-page .text-wrapper-31 {
  position: absolute;
  width: 620px;
  top: 21px;
  left: 17px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.testimonials-page .text-wrapper-32 {
  position: absolute;
  width: 385px;
  top: 128px;
  left: 252px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  text-align: right;
  letter-spacing: 0;
  line-height: normal;
}

.testimonials-page .review-16 {
  height: 91px;
  position: relative;
  width: 667px;
  margin-right: -4px;
}

.testimonials-page .overlap-group-20 {
  position: relative;
  width: 663px;
  height: 91px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 5px solid;
  border-color: #000000;
}

.testimonials-page .text-wrapper-33 {
  position: absolute;
  width: 319px;
  top: 45px;
  left: 318px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  text-align: right;
  letter-spacing: 0;
  line-height: normal;
}

.testimonials-page .review-17 {
  height: 129px;
  position: relative;
  width: 667px;
  margin-right: -4px;
}

.testimonials-page .overlap-group-21 {
  position: relative;
  width: 663px;
  height: 129px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 5px solid;
  border-color: #000000;
}

.testimonials-page .text-wrapper-34 {
  position: absolute;
  width: 385px;
  top: 81px;
  left: 252px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  text-align: right;
  letter-spacing: 0;
  line-height: normal;
}

.testimonials-page .imleagues-com-has {
  position: absolute;
  width: 620px;
  top: 22px;
  left: 17px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.testimonials-page .review-18 {
  height: 141px;
  position: relative;
  width: 667px;
  margin-right: -4px;
}

.testimonials-page .overlap-group-22 {
  position: relative;
  width: 663px;
  height: 141px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 5px solid;
  border-color: #000000;
}

.testimonials-page .text-wrapper-35 {
  position: absolute;
  width: 356px;
  top: 94px;
  left: 281px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  text-align: right;
  letter-spacing: 0;
  line-height: normal;
}

.testimonials-page .logo-img-6 {
  position: absolute;
  width: 145px;
  height: 115px;
  top: 9px;
  left: -3px;
}

.testimonials-page .review-19 {
  height: 83px;
  position: relative;
  width: 667px;
  margin-right: -4px;
}

.testimonials-page .overlap-group-23 {
  position: relative;
  width: 663px;
  height: 83px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 5px solid;
  border-color: #000000;
}

.testimonials-page .text-wrapper-36 {
  position: absolute;
  width: 319px;
  top: 36px;
  left: 318px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  text-align: right;
  letter-spacing: 0;
  line-height: normal;
}

.testimonials-page .review-20 {
  height: 148px;
  position: relative;
  width: 667px;
  margin-right: -4px;
}

.testimonials-page .overlap-group-24 {
  position: relative;
  width: 663px;
  height: 148px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 5px solid;
  border-color: #000000;
}

.testimonials-page .text-wrapper-37 {
  position: absolute;
  width: 319px;
  top: 100px;
  left: 318px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  text-align: right;
  letter-spacing: 0;
  line-height: normal;
}

.testimonials-page .review-21 {
  height: 113px;
  position: relative;
  width: 667px;
  margin-right: -4px;
}

.testimonials-page .overlap-group-25 {
  position: relative;
  width: 663px;
  height: 113px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 5px solid;
  border-color: #000000;
}

.testimonials-page .text-wrapper-38 {
  position: absolute;
  width: 319px;
  top: 65px;
  left: 318px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  text-align: right;
  letter-spacing: 0;
  line-height: normal;
}

.testimonials-page .review-22 {
  height: 116px;
  position: relative;
  width: 667px;
  margin-right: -4px;
}

.testimonials-page .overlap-group-26 {
  position: relative;
  width: 663px;
  height: 116px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 5px solid;
  border-color: #000000;
}

.testimonials-page .text-wrapper-39 {
  position: absolute;
  width: 399px;
  top: 70px;
  left: 238px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  text-align: right;
  letter-spacing: 0;
  line-height: normal;
}

.testimonials-page .logo-img-7 {
  position: absolute;
  width: 147px;
  height: 115px;
  top: 13px;
  left: -3px;
}

.testimonials-page .logo-img-8 {
  position: absolute;
  width: 127px;
  height: 115px;
  top: 12px;
  left: 6px;
}

.testimonials-page .review-23 {
  height: 147px;
  position: relative;
  width: 667px;
  margin-right: -4px;
}

.testimonials-page .overlap-group-27 {
  position: relative;
  width: 663px;
  height: 147px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 5px solid;
  border-color: #000000;
}

.testimonials-page .text-wrapper-40 {
  position: absolute;
  width: 399px;
  top: 105px;
  left: 238px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  text-align: right;
  letter-spacing: 0;
  line-height: normal;
}

.testimonials-page .text-wrapper-41 {
  position: absolute;
  width: 399px;
  top: 64px;
  left: 238px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  text-align: right;
  letter-spacing: 0;
  line-height: normal;
}

.testimonials-page .review-24 {
  height: 179px;
  position: relative;
  width: 667px;
  margin-right: -4px;
}

.testimonials-page .overlap-group-28 {
  position: relative;
  width: 663px;
  height: 179px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 5px solid;
  border-color: #000000;
}

.testimonials-page .text-wrapper-42 {
  position: absolute;
  width: 399px;
  top: 137px;
  left: 238px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  text-align: right;
  letter-spacing: 0;
  line-height: normal;
}

.testimonials-page .review-25 {
  height: 260px;
  position: relative;
  width: 667px;
  margin-right: -4px;
}

.testimonials-page .overlap-group-29 {
  position: relative;
  width: 663px;
  height: 260px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 5px solid;
  border-color: #000000;
}

.testimonials-page .text-wrapper-43 {
  position: absolute;
  width: 399px;
  top: 215px;
  left: 238px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  text-align: right;
  letter-spacing: 0;
  line-height: normal;
}

.testimonials-page .text-wrapper-44 {
  position: absolute;
  top: 0;
  left: 559px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 48px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.testimonials-page .ads {
  position: absolute;
  width: 1411px;
  height: 8599px;
  top: 1px;
  left: 0;
}

.testimonials-page .rectangle {
  left: 1226px;
  position: absolute;
  width: 185px;
  height: 851px;
  top: 0;
}

.testimonials-page .rectangle-2 {
  left: 0;
  position: absolute;
  width: 185px;
  height: 851px;
  top: 0;
}

.testimonials-page .nav-bar {
  position: absolute;
  width: 1512px;
  height: 108px;
  top: 0;
  left: 0;
}

.testimonials-page .overlap-3 {
  position: relative;
  width: 1522px;
  height: 118px;
  top: -5px;
  left: -5px;
  background-color: #ffffff;
  border-bottom-width: 5px;
  border-bottom-style: solid;
  border-color: #19589b;
}

.testimonials-page .logo-wrapper {
  position: absolute;
  width: 249px;
  height: 75px;
  top: 20px;
  left: 20px;
}

.testimonials-page .logo-2 {
  position: absolute;
  width: 257px;
  height: 83px;
  top: 0;
  left: -4px;
  object-fit: cover;
}

.testimonials-page .nav-tabs {
  position: absolute;
  width: 788px;
  height: 88px;
  top: 20px;
  left: 363px;
}

.testimonials-page .mobile-apps-button {
  position: absolute;
  width: 165px;
  height: 88px;
  top: 0;
  left: 623px;
}

.testimonials-page .nav-bar-text-wrapper {
  position: relative;
  width: 175px;
  height: 98px;
  top: -5px;
  left: -5px;
  background-color: #ffffff;
}

.testimonials-page .nav-bar-text {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  position: relative;
  top: 38px;
  left: 17px;
}

.testimonials-page .text {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #9d9d9d;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.testimonials-page .integrations-button {
  position: absolute;
  width: 154px;
  height: 88px;
  top: 0;
  left: 444px;
}

.testimonials-page .integrations-wrapper {
  position: relative;
  width: 164px;
  height: 98px;
  top: -5px;
  left: -5px;
  background-color: #ffffff;
}

.testimonials-page .integrations {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  position: relative;
  top: 38px;
  left: 15px;
}

.testimonials-page .testimonials-button {
  position: absolute;
  width: 164px;
  height: 88px;
  top: 0;
  left: 257px;
}

.testimonials-page .testimonials-wrapper {
  position: relative;
  width: 174px;
  height: 98px;
  top: -5px;
  left: -5px;
  background-color: #ffffff;
  border-bottom-width: 5px;
  border-bottom-style: solid;
  border-color: #ed9118;
}

.testimonials-page .testimonials-2 {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  position: relative;
  top: 33px;
  left: 10px;
}

.testimonials-page .text-2 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  color: #000000;
  font-size: 24px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
}

.testimonials-page .schools-button {
  position: absolute;
  width: 110px;
  height: 88px;
  top: 0;
  left: 123px;
  background-color: #ffffff;
}

.testimonials-page .schools {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  position: relative;
  top: 33px;
  left: 9px;
}

.testimonials-page .home-button {
  all: unset;
  box-sizing: border-box;
  position: absolute;
  width: 100px;
  height: 88px;
  top: 0;
  left: 0;
}

.testimonials-page .home-wrapper {
  position: relative;
  width: 110px;
  height: 98px;
  top: -5px;
  left: -5px;
  background-color: #ffffff;
}

.testimonials-page .home {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  position: relative;
  top: 39px;
  left: 25px;
}

.testimonials-page .login-signup-buttons {
  position: absolute;
  width: 250px;
  height: 50px;
  top: 39px;
  left: 1233px;
}

.testimonials-page .sign-up-button {
  all: unset;
  box-sizing: border-box;
  position: absolute;
  width: 119px;
  height: 50px;
  top: 0;
  left: 131px;
  background-color: #ed9118;
  border-radius: 10px;
}

.testimonials-page .text-3 {
  position: absolute;
  top: 12px;
  left: 17px;
  -webkit-text-stroke: 3px #ffffff;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  white-space: nowrap;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
}

.testimonials-page .login-button {
  all: unset;
  box-sizing: border-box;
  position: absolute;
  width: 119px;
  height: 50px;
  top: 0;
  left: 0;
  background-color: #ffffff;
  border-radius: 10px;
  border: 3px solid;
  border-color: #ed9118;
}

.testimonials-page .text-4 {
  position: absolute;
  top: 9px;
  left: 24px;
  -webkit-text-stroke: 3px #ed9118;
  color: #000000;
  font-size: 20px;
  text-align: center;
  white-space: nowrap;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
}
