/*

--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px):
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights:
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700

- Line heights:
Default: 1 
Small: 1.05
Medium: 1.2
Paragraph default: 1.6  
Large: 1.8

- Letter spacing
-0.5 px
0.75px

--- 02 COLORS

- Primary: #ED9118
- Tints: 

- Shades: 
#D58316
- Accents:
#163B72
#19589B
- Greys:
#9D9D9D
#363636
#232323


--- 05 SHADOWS

0 2.4rem 4.8rem rgba(0, 0, 0, 0.075)

--- 06 BORDER-RADIUS

Default: 9px
Medium: 11px

--- 07 WHITESPACE

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 

*/

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html {
   font-size: 62.5%;
   overflow-x: hidden;

   /* Does NOT work on Safari */
   /* scroll-behavior: smooth; */
}

body {
   font-family: "Inter", sans-serif;
   line-height: 1;
   font-weight: 400;
   overflow-x: hidden;
   color: #232323;
}

.school-page-container {
   /* width: 120rem; */
   position: relative;
   display: flex;
   flex-direction: column;
   align-items: center;
}

/******************************************/
/* NAVIGATION */
/******************************************/

.nav {
   height: 4.8rem;
   width: 100vw;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 2.8rem 1.6rem;
   border-bottom: 0.4rem solid #163b72;
}

.nav-logo {
   height: 4.8rem;
}

.nav-links {
   list-style: none;
   display: flex;
   align-items: center;
   font-size: 1.6rem;
   gap: 2.4rem;
}

.nav-link {
   text-decoration: none;
   color: #9d9d9d;
   font-weight: 500;
   padding: 1.8rem 1.2rem;
   transition: all 0.4s;
}

.nav-link:hover {
   color: #232323;
}

.nav-link--selected {
   border-bottom: 0.4rem solid #ed9118;
   color: #232323;
}

.nav-btns {
   display: flex;
   gap: 1.6rem;
}

.btn {
   outline: none;
   border: 0.3rem solid #ed9118;
   color: #fff;
   background-color: #ed9118;
   border-radius: 0.8rem;
   padding: 0.8rem 1.8rem;
   transition: all 0.4s;
   cursor: pointer;
}

.btn:hover,
.btn-nav--login:hover {
   background-color: #d58316;
   border-color: #d58316;
   color: #fff;
}

.btn-nav--login {
   background-color: #fff;
   color: #ed9118;
}

/******************************************/
/* Title */
/******************************************/

.title {
   position: relative;
   margin-top: 35px;
   font-family: "Inter", Helvetica;
   font-weight: 500;
   color: #000000;
   font-size: 48px;
   text-align: center;
   letter-spacing: 0;
   line-height: normal;
}

/******************************************/
/* Search Bar */
/******************************************/

.search-container {
   text-align: center;
   z-index: 1;
}

.search-bar {
   width: 900px;
   padding: 10px;
   margin-top: 40px;
   border-radius: 75px;
   border-color: #000000;
}

/******************************************/
/* School Filter */
/******************************************/

.alphabet-filter {
   position: relative;
   display: flex;
   width: 900px;
   align-items: flex-start;
   justify-content: center;
   margin-top: 15px;
   border-radius: 20px;
   z-index: 1;
   cursor: pointer;
}

.letter-a {
   display: flex;
   flex-direction: column;
   width: 35px;
   height: 35px;
   align-items: center;
   justify-content: center;
   gap: 10px;
   position: relative;
   background-color: #ffffff;
   border: 1px solid;
   border-color: #19589b;
}

.text-wrapper-22 {
   position: relative;
   width: fit-content;
   font-family: "Inter", Helvetica;
   font-weight: 500;
   color: #000000;
   font-size: 20px;
   text-align: center;
   letter-spacing: 0;
   line-height: normal;
   white-space: nowrap;
}

.letter {
   display: flex;
   flex-direction: column;
   width: 35px;
   height: 35px;
   align-items: center;
   justify-content: center;
   gap: 10px;
   position: relative;
   background-color: #ffffff;
   border-top-width: 1px;
   border-top-style: solid;
   border-right-width: 1px;
   border-right-style: solid;
   border-bottom-width: 1px;
   border-bottom-style: solid;
   border-color: #19589b;
}

/******************************************/
/* SCROLLABLE SECTION */
/******************************************/

.school-list-container {
   position: relative;
   width: 1411px;
   height: 911px;
   margin-top: -175px;
   margin-bottom: 45px;
}

.scrollable-section {
   display: inline-flex;
   flex-direction: column;
   height: 691px;
   align-items: center;
   gap: 25px;
   padding: 25px 41px;
   position: absolute;
   top: 220px;
   left: 231px;
   border-radius: 15px;
   overflow: hidden;
   border: 5px solid;
   border-color: #163b72;
   overflow-y: auto;
}

.schools-a {
   display: inline-flex;
   flex-direction: column;
   align-items: center;
   gap: 20px;
   position: relative;
   flex: 0 0 auto;
}

.overlap-group-wrapper {
   position: relative;
   width: 836px;
   height: 40.65px;
}

.overlap-group-3 {
   position: relative;
   width: 834px;
   height: 41px;
}

.text-wrapper-5 {
   position: absolute;
   width: 20px;
   top: 0;
   left: 8px;
   font-family: "Inter", Helvetica;
   font-weight: 400;
   color: #000000;
   font-size: 30px;
   text-align: center;
   letter-spacing: 0;
   line-height: normal;
}

.line {
   position: absolute;
   width: 834px;
   height: 2px;
   top: 39px;
   left: 0;
   object-fit: cover;
}

.school-row {
   display: inline-flex;
   align-items: center;
   justify-content: center;
   gap: 53px;
   position: relative;
   flex: 0 0 auto;
}

.school {
   position: relative;
   width: 177px;
   height: 178.54px;
}

.overlap-group-4 {
   position: relative;
   width: 175px;
   height: 179px;
   background-color: #ffffff;
   border-radius: 20px;
   border: 5px solid;
   border-color: #000000;
}

.school-logo {
   position: absolute;
   width: 133px;
   height: 90px;
   top: 13px;
   left: 16px;
   object-fit: cover;
}

.text-wrapper-6 {
   position: absolute;
   width: 140px;
   top: 121px;
   left: 13px;
   font-family: "Inter", Helvetica;
   font-weight: 500;
   color: #000000;
   font-size: 15px;
   text-align: center;
   letter-spacing: 0;
   line-height: normal;
}

.text-wrapper-7 {
   position: absolute;
   width: 156px;
   top: 121px;
   left: 4px;
   font-family: "Inter", Helvetica;
   font-weight: 500;
   color: #000000;
   font-size: 15px;
   text-align: center;
   letter-spacing: 0;
   line-height: normal;
}

.school-logo-2 {
   position: absolute;
   width: 112px;
   height: 108px;
   top: 4px;
   left: 26px;
   object-fit: cover;
}

.overlap-3 {
   position: relative;
   width: 175px;
   height: 179px;
   border-radius: 20px;
   border: 5px solid;
   border-color: #000000;
}

.school-logo-3 {
   position: absolute;
   width: 90px;
   height: 90px;
   top: 13px;
   left: 38px;
   object-fit: cover;
}

.text-wrapper-8 {
   position: absolute;
   width: 116px;
   top: 121px;
   left: 24px;
   font-family: "Inter", Helvetica;
   font-weight: 500;
   color: #000000;
   font-size: 15px;
   text-align: center;
   letter-spacing: 0;
   line-height: normal;
}

.overlap-wrapper {
   position: relative;
   width: 177px;
   height: 178.54px;
   margin-right: -2px;
}

.school-logo-4 {
   position: absolute;
   width: 105px;
   height: 90px;
   top: 13px;
   left: 30px;
}

.text-wrapper-9 {
   position: absolute;
   width: 126px;
   top: 121px;
   left: 22px;
   font-family: "Inter", Helvetica;
   font-weight: 500;
   color: #000000;
   font-size: 15px;
   text-align: center;
   letter-spacing: 0;
   line-height: normal;
}

.school-logo-5 {
   position: absolute;
   width: 81px;
   height: 90px;
   top: 14px;
   left: 42px;
   object-fit: cover;
}

.school-logo-6 {
   position: absolute;
   width: 112px;
   height: 90px;
   top: 14px;
   left: 26px;
   object-fit: cover;
}

.agnes-scott-college {
   width: 88px;
   left: 38px;
   position: absolute;
   top: 121px;
   font-family: "Inter", Helvetica;
   font-weight: 500;
   color: #000000;
   font-size: 15px;
   text-align: center;
   letter-spacing: 0;
   line-height: normal;
}

.school-logo-7 {
   position: absolute;
   width: 137px;
   height: 90px;
   top: 14px;
   left: 14px;
   object-fit: cover;
}

.aims-community {
   position: absolute;
   width: 122px;
   top: 121px;
   left: 22px;
   font-family: "Inter", Helvetica;
   font-weight: 500;
   color: #000000;
   font-size: 15px;
   text-align: center;
   letter-spacing: 0;
   line-height: normal;
}

.text-wrapper-10 {
   position: absolute;
   width: 156px;
   top: 108px;
   left: 4px;
   font-family: "Inter", Helvetica;
   font-weight: 500;
   color: #000000;
   font-size: 15px;
   text-align: center;
   letter-spacing: 0;
   line-height: normal;
}

.school-logo-8 {
   position: absolute;
   width: 112px;
   height: 90px;
   top: 14px;
   left: 26px;
}

.school-logo-9 {
   position: absolute;
   width: 90px;
   height: 90px;
   top: 13px;
   left: 38px;
}

.albany-state {
   position: absolute;
   width: 96px;
   top: 121px;
   left: 34px;
   font-family: "Inter", Helvetica;
   font-weight: 500;
   color: #000000;
   font-size: 15px;
   text-align: center;
   letter-spacing: 0;
   line-height: normal;
}

.albertus-magnus {
   position: absolute;
   width: 123px;
   top: 121px;
   left: 22px;
   font-family: "Inter", Helvetica;
   font-weight: 500;
   color: #000000;
   font-size: 15px;
   text-align: center;
   letter-spacing: 0;
   line-height: normal;
}

.school-logo-10 {
   position: absolute;
   width: 81px;
   height: 90px;
   top: 14px;
   left: 42px;
}

.school-logo-11 {
   position: absolute;
   width: 105px;
   height: 90px;
   top: 14px;
   left: 30px;
}

.alcorn-state {
   position: absolute;
   width: 89px;
   top: 121px;
   left: 38px;
   font-family: "Inter", Helvetica;
   font-weight: 500;
   color: #000000;
   font-size: 15px;
   text-align: center;
   letter-spacing: 0;
   line-height: normal;
}

.school-logo-12 {
   position: absolute;
   width: 137px;
   height: 90px;
   top: 14px;
   left: 14px;
}

.alderson-broaddus {
   position: absolute;
   width: 137px;
   top: 121px;
   left: 14px;
   font-family: "Inter", Helvetica;
   font-weight: 500;
   color: #000000;
   font-size: 15px;
   text-align: center;
   letter-spacing: 0;
   line-height: normal;
}

.school-logo-13 {
   position: absolute;
   width: 141px;
   height: 90px;
   top: 14px;
   left: 12px;
}

.school-logo-14 {
   position: absolute;
   width: 150px;
   height: 90px;
   top: 14px;
   left: 8px;
}

.text-wrapper-11 {
   width: 120px;
   left: 22px;
   position: absolute;
   top: 121px;
   font-family: "Inter", Helvetica;
   font-weight: 500;
   color: #000000;
   font-size: 15px;
   text-align: center;
   letter-spacing: 0;
   line-height: normal;
}

.text-wrapper-12 {
   position: absolute;
   width: 131px;
   top: 121px;
   left: 18px;
   font-family: "Inter", Helvetica;
   font-weight: 500;
   color: #000000;
   font-size: 15px;
   text-align: center;
   letter-spacing: 0;
   line-height: normal;
}

.school-logo-15 {
   position: absolute;
   width: 105px;
   height: 90px;
   top: 14px;
   left: 30px;
   object-fit: cover;
}

.text-wrapper-13 {
   position: absolute;
   width: 99px;
   top: 121px;
   left: 34px;
   font-family: "Inter", Helvetica;
   font-weight: 500;
   color: #000000;
   font-size: 15px;
   text-align: center;
   letter-spacing: 0;
   line-height: normal;
}

.text-wrapper-14 {
   width: 95px;
   left: 36px;
   position: absolute;
   top: 121px;
   font-family: "Inter", Helvetica;
   font-weight: 500;
   color: #000000;
   font-size: 15px;
   text-align: center;
   letter-spacing: 0;
   line-height: normal;
}

.school-logo-16 {
   position: absolute;
   width: 148px;
   height: 90px;
   top: 14px;
   left: 8px;
}

.school-logo-17 {
   position: absolute;
   width: 139px;
   height: 90px;
   top: 14px;
   left: 14px;
}

.american {
   position: absolute;
   width: 149px;
   top: 121px;
   left: 8px;
   font-family: "Inter", Helvetica;
   font-weight: 500;
   color: #000000;
   font-size: 15px;
   text-align: center;
   letter-spacing: 0;
   line-height: normal;
}

.text-wrapper-15 {
   position: absolute;
   width: 145px;
   top: 121px;
   left: 10px;
   font-family: "Inter", Helvetica;
   font-weight: 500;
   color: #000000;
   font-size: 15px;
   text-align: center;
   letter-spacing: 0;
   line-height: normal;
}

.school-logo-18 {
   position: absolute;
   width: 111px;
   height: 90px;
   top: 14px;
   left: 28px;
}

.school-logo-19 {
   position: absolute;
   width: 127px;
   height: 90px;
   top: 14px;
   left: 18px;
}

.text-wrapper-16 {
   width: 103px;
   left: 32px;
   position: absolute;
   top: 121px;
   font-family: "Inter", Helvetica;
   font-weight: 500;
   color: #000000;
   font-size: 15px;
   text-align: center;
   letter-spacing: 0;
   line-height: normal;
}

.angelo-state {
   width: 97px;
   left: 34px;
   position: absolute;
   top: 121px;
   font-family: "Inter", Helvetica;
   font-weight: 500;
   color: #000000;
   font-size: 15px;
   text-align: center;
   letter-spacing: 0;
   line-height: normal;
}

.text-wrapper-17 {
   position: absolute;
   width: 79px;
   top: 121px;
   left: 44px;
   font-family: "Inter", Helvetica;
   font-weight: 500;
   color: #000000;
   font-size: 15px;
   text-align: center;
   letter-spacing: 0;
   line-height: normal;
}

.text-wrapper-18 {
   position: absolute;
   width: 117px;
   top: 121px;
   left: 24px;
   font-family: "Inter", Helvetica;
   font-weight: 500;
   color: #000000;
   font-size: 15px;
   text-align: center;
   letter-spacing: 0;
   line-height: normal;
}

.text-wrapper-19 {
   position: absolute;
   width: 127px;
   top: 121px;
   left: 20px;
   font-family: "Inter", Helvetica;
   font-weight: 500;
   color: #000000;
   font-size: 15px;
   text-align: center;
   letter-spacing: 0;
   line-height: normal;
}

.school-logo-20 {
   position: absolute;
   width: 140px;
   height: 66px;
   top: 26px;
   left: 12px;
}

.text-wrapper-20 {
   position: absolute;
   width: 150px;
   top: 121px;
   left: 8px;
   font-family: "Inter", Helvetica;
   font-weight: 500;
   color: #000000;
   font-size: 15px;
   text-align: center;
   letter-spacing: 0;
   line-height: normal;
}

.text-wrapper-21 {
   position: absolute;
   width: 140px;
   top: 121px;
   left: 12px;
   font-family: "Inter", Helvetica;
   font-weight: 500;
   color: #000000;
   font-size: 15px;
   text-align: center;
   letter-spacing: 0;
   line-height: normal;
}

.school-row-2 {
   display: inline-flex;
   align-items: center;
   gap: 53px;
   position: relative;
   flex: 0 0 auto;
}

.div-wrapper {
   position: relative;
   width: 177px;
   height: 178.54px;
   opacity: 0;
}

.school-2 {
   opacity: 0;
   position: relative;
   width: 177px;
   height: 178.54px;
   margin-right: -2px;
}

.schools-b {
   display: inline-flex;
   flex-direction: column;
   align-items: center;
   gap: 20px;
   padding: 0px 0px 20px;
   position: relative;
   flex: 0 0 auto;
}

.school-logo-21 {
   position: absolute;
   width: 93px;
   height: 90px;
   top: 14px;
   left: 36px;
}

.school-logo-22 {
   position: absolute;
   width: 133px;
   height: 90px;
   top: 13px;
   left: 16px;
}

.school-logo-23 {
   position: absolute;
   width: 93px;
   height: 90px;
   top: 13px;
   left: 36px;
}

.school-logo-24 {
   position: absolute;
   width: 99px;
   height: 90px;
   top: 13px;
   left: 34px;
}

.school-logo-25 {
   position: absolute;
   width: 105px;
   height: 90px;
   top: 13px;
   left: 30px;
   object-fit: cover;
}

.school-logo-26 {
   position: absolute;
   width: 93px;
   height: 90px;
   top: 13px;
   left: 36px;
   object-fit: cover;
}

/******************************************/
/* FOOTER */
/******************************************/

.footer {
   position: relative;
   width: 1516px;
   height: 656px;
   background-color: transparent;
}

.overlap {
   position: relative;
   width: 1512px;
   height: 656px;
   background-color: #353535;
}

.overlap-group {
   position: absolute;
   width: 1512px;
   height: 302px;
   top: 354px;
   left: 0;
   background-color: #232323;
}

.mobile-app-icons {
   position: absolute;
   width: 513px;
   height: 71px;
   top: 110px;
   left: 483px;
}

.appstore {
   position: absolute;
   width: 240px;
   height: 71px;
   top: 0;
   left: 0;
   object-fit: cover;
}

.googleplay {
   position: absolute;
   width: 240px;
   height: 71px;
   top: 0;
   left: 273px;
   object-fit: cover;
}

.social-media-icons {
   position: absolute;
   width: 127px;
   height: 58px;
   top: 214px;
   left: 1334px;
}

.twitter {
   position: absolute;
   width: 52px;
   height: 52px;
   top: 3px;
   left: 0;
   object-fit: cover;
}

.facebook {
   position: absolute;
   width: 58px;
   height: 58px;
   top: 0;
   left: 69px;
   object-fit: cover;
}

.copyright-text {
   position: absolute;
   width: 431px;
   top: 224px;
   left: 532px;
   font-family: "Inter", Helvetica;
   font-weight: 400;
   color: #ffffff;
   font-size: 20px;
   text-align: center;
   letter-spacing: 0;
   line-height: normal;
}

.footer-text {
   position: absolute;
   width: 1071px;
   top: 36px;
   left: 222px;
   font-family: "Inter", Helvetica;
   font-weight: 400;
   color: #ffffff;
   font-size: 24px;
   text-align: center;
   letter-spacing: 0;
   line-height: normal;
}

.contacts {
   position: absolute;
   width: 377px;
   height: 247px;
   top: 51px;
   left: 1080px;
}

.overlap-group-2 {
   position: absolute;
   width: 371px;
   height: 206px;
   top: 41px;
   left: 0;
   background-color: #1e1e1e;
   border-radius: 10px;
}

.chat-icon {
   position: absolute;
   width: 35px;
   height: 35px;
   top: 113px;
   left: 54px;
   object-fit: cover;
}

.phone-icon {
   position: absolute;
   width: 30px;
   height: 30px;
   top: 58px;
   left: 56px;
   object-fit: cover;
}

.text-wrapper {
   position: absolute;
   width: 135px;
   top: 61px;
   left: 99px;
   font-family: "Inter", Helvetica;
   font-weight: 500;
   color: #ffffff;
   font-size: 20px;
   text-align: center;
   letter-spacing: 0;
   line-height: normal;
}

.text-wrapper-2 {
   position: absolute;
   width: 216px;
   top: 119px;
   left: 101px;
   font-family: "Inter", Helvetica;
   font-weight: 500;
   color: #ffffff;
   font-size: 20px;
   text-align: center;
   letter-spacing: 0;
   line-height: normal;
}

.text-wrapper-3 {
   position: absolute;
   width: 119px;
   top: 0;
   left: 122px;
   font-family: "Inter", Helvetica;
   font-weight: 700;
   color: #ffffff;
   font-size: 20px;
   text-align: center;
   letter-spacing: 0;
   line-height: normal;
}

.map {
   position: absolute;
   width: 414px;
   height: 247px;
   top: 51px;
   left: 545px;
}

.img {
   position: absolute;
   width: 412px;
   height: 206px;
   top: 41px;
   left: 0;
   object-fit: cover;
}

.p {
   position: absolute;
   width: 299px;
   top: 0;
   left: 57px;
   font-family: "Inter", Helvetica;
   font-weight: 500;
   color: #ffffff;
   font-size: 20px;
   text-align: center;
   letter-spacing: 0;
   line-height: normal;
}

.usa-today {
   position: absolute;
   width: 362px;
   height: 247px;
   top: 51px;
   left: 62px;
}

.usa-today-2 {
   position: absolute;
   width: 360px;
   height: 206px;
   top: 41px;
   left: 0;
   object-fit: cover;
}

.text-wrapper-4 {
   position: absolute;
   width: 354px;
   top: 0;
   left: 3px;
   font-family: "Inter", Helvetica;
   font-weight: 500;
   color: #ffffff;
   font-size: 20px;
   text-align: center;
   letter-spacing: 0;
   line-height: normal;
}

/******************************************/
/* ADS */
/******************************************/

.ads {
   position: absolute;
   width: 1411px;
   height: 851px;
   margin-top: 125px;
}

.ad {
   position: absolute;
   width: 185px;
   height: 851px;
}

.ad-2 {
   position: absolute;
   width: 185px;
   height: 851px;
   top: 0;
   left: 1226px;
}